{% extends "news/base.html" %}
{% load custom_filters %}

{% block content %}

<div class="container">
    {% if message %}
        <div class="message">{{message}}</div>
    {% endif %}
    <div class="form-wrapper">
        <form action="{% url 'create' %}" method="POST">
            {% csrf_token %}
            <h2>Create Post</h2>
            
            <div class="form-input">
                <label> Title</label>
                <input name="title" placeholder="Something happened in Korea" type="text" />
            </div>
            
            <div class="form-input">
                <label> Description</label>
                <textarea name="description"></textarea>
            </div>
            
            <div class="form-input">
                <label> Type</label>
                <select name="type">
                    <option value="story">Story</option>
                    <option value="job">Job</option>
                    <option value="poll">Poll</option>
                </select>
            </div>

            <button class="button-white">Submit</button>
        </form>
    </div>

</div>

{% endblock content %}