{% extends "news/base.html" %}
{% load custom_filters %}

{% block content %}

<div class="container">
    {% if can_edit %}
        <div class="edit">
            <a href="{% url 'update' id %}">Edit News</a>
        </div>
    {% endif %}
    <div class="card-wrapper">
        <div class="profile-card">
            <h2>{{title}}</h2>
            <p>{{text}}</p>
        <div>

        <div class="detial-info">
            <small class="author white-color">By: {{by}}</small>
            <small class="type white-color">Type: {{type}}</small>
            <small class="score white-color">Score: {{score}}</small>
            <small class="time white-color">{{time|timestamp_to_date }}</small>
            {% if is_hacker_news %}
                <small class="is-hacker-news white-color">HackerNews News</small>
            {% endif %}
        </div>

        {% if kids %}
            <div class="sub">
                {% for el in kids  %}
                    <a href="#">{{el}}</a> &nbsp;
                {% endfor %}
            </div>
        {% endif %}
    </div>

</div>

{% endblock content %}