{% extends "news/base.html" %}
{% load custom_filters %}

{% block content %}

<div class="container">
    <div class="card-wrapper">
        {% for el in data%}
            <a class="card" href="">
                <h2>{{el.title}}</h2>
                <p>{{el.text|truncatechars:100}}</p>
                <div class="info">
                    <small class="author">By: {{el.by}}</small>
                    <small class="type">Type: {{el.type}}</small>
                </div>
                <div class="score-wrapper">
                    <small class="score">Score: {{el.score}}</small>
                    <small clßass="time">{{el.time|timestamp_to_date }}</small>
                </div>
            </a>
        {% endfor%}
        
    </div>

</div>

{% endblock content %}