{% extends "news/base.html" %}
{% load custom_filters %}

{% block content %}

<div class="container">
    <div class="card-wrapper">
        <div class="profile-card">
            <h2>{{title}}</h2>
            <p>{{text}}</p>
        <div>

        <div class="detial-info">
            <small class="author white-color">By: {{by}}</small>
            <small class="type white-color">Type: {{type}}</small>
            <small class="score white-color">Score: {{score}}</small>
            <small class="time white-color">{{time|timestamp_to_date }}</small>
        </div>
    </div>

</div>

{% endblock content %}