{% extends "news/base.html" %}
{% load custom_filters %}

{% block content %}

<div class="container">
    <div class="search-bar">
        <div class="nav-form">
            <form action="{% url 'news_search' %}" method='GET'>
                <input type="search" placeholder="search" name="q"/>
            </form>
        </div>
        <div class="filter-wrapper">
            <div class="filter">
                <small>Filter</div>
                <form method="GET" action="{% url 'home' %}">
                    <select name="type">
                        <option value="">All</option>
                        <option value="Story" {% if filter_type == 'Story' %}selected{% endif %}>Story</option>
                        <option value="Job" {% if filter_type == 'Job' %}selected{% endif %}>Job</option>
                        <option value="Poll" {% if filter_type == 'Poll' %}selected{% endif %}>Poll</option>
                    </select>
                    <button class="button-white" type="submit">Filter</button>
                </form>
            </div>
        </div>
    </div>
    {% if message %}
        <div class="message">{{message}}</div>
    {% endif %}
    <div class="card-wrapper">

        {% if query %}
            {% for el in news%}
                <a class="card" href="{% url 'details' el.id %}">
                    {% if el.is_hacker_news %}
                        <div class="hacker-news-tag"></div>
                    {% endif %}
                    <h2>{{el.title}}</h2>
                    <p>{{el.text|truncatechars:100}}</p>
                    <div class="info">
                        <small class="author">By: {{el.by}}</small>
                        <small class="type">Type: {{el.news_type}}</small>
                    </div>
                    <div class="score-wrapper">
                        <small class="score">Score: {{el.score}}</small>
                        <small clßass="time">{{el.time|timestamp_to_date }}</small>
                    </div>
                </a>
            {% endfor%}
        {% else %}
            {% for el in data%}
                <a class="card" href="{% url 'details' el.id %}">
                    {% if el.is_hacker_news %}
                        <div class="hacker-news-tag"></div>
                    {% endif %}
                    <h2>{{el.title}}</h2>
                    <p>{{el.text|truncatechars:100}}</p>
                    <div class="info">
                        <small class="author">By: {{el.by}}</small>
                        <small class="type">Type: {{el.news_type}}</small>
                    </div>
                    <div class="score-wrapper">
                        <small class="score">Score: {{el.score}}</small>
                        <small clßass="time">{{el.time|timestamp_to_date }}</small>
                    </div>
                </a>
            {% endfor%}
        {% endif %}
        
    </div>

</div>

{% endblock content %}