{% extends "news/base.html" %}

{% block content %}

<div class="container">
    <div class="card">
        <h2>Apollo is dead. Long live Apollo</h2>
        <p>I was actively using the app on my phone and it suddenly crashed at 4:10pm PDT. I thought it was just my phone acting up but then I realized that's about 12am UTC.  With the death of Apollo also goes the metaphorical death of all the best parts (IMO) of the internet ...</p>
        <div class="info">
            <small class="author">By: bears-n-beets</small>
            <small class="type">Type: story</small>
        </div>
        <div class="score-wrapper">
            <small class="score">Score: 839</small>
            <small class="time">Jan 3</small>
        </div>
    </div>
    
    <div class="card">
        <h2>Ask HN: Interesting open source LLMs you've been exploring?</h2>
        <p>And interesting  and significant things you&#x27;ve discover so far? Thinking about getting into it,
      </p>
        <div class="info">
            <small class="author">By: phindisperfect</small>
            <small class="type">Type: story</small>
        </div>
        <div class="score-wrapper">
            <small class="score">Score: 3</small>
            <small class="time">Jan 3</small>
        </div>
    </div>
    
    <div class="card">
        <h2>Ask HN: Why are there no profiles on Android browsers?</h2>
        <p>I&#x27;m a heavy user of user profiles on Firefox[1] and Chrome[2].\nThey allow complete separation of addons, history, cookies, settings between one profile and another.\nI use them to separate my work context from private life context, and recently different aspects from each other ...</p>
        <div class="info">
            <small class="author">By: Backslasher</small>
            <small class="type">Type: story</small>
        </div>
        <div class="score-wrapper">
            <small class="score">Score: 839</small>
            <small class="time">Jan 3</small>
        </div>
    </div>
    
    <div class="card">
        <h2>Ask HN: Stock Android phone free of bloatware?</h2>
        <p>Is there an Android phone available that comes without any pre-installed bloatware, offers long-term support, and ensures access to the latest Android versions?</p>
        <div class="info">
            <small class="author">By: miki_tyler</small>
            <small class="type">Type: story</small>
        </div>
        <div class="score-wrapper">
            <small class="score">Score: 180</small>
            <small class="time">Jan 3</small>
        </div>
    </div>
</div>

{% endblock content %}