{% load static %}

<div class="nav-wrapper">
    <nav class="max-width">
        <div class="logo-wrapper">
            <div class="logo">
                <a href="{% url 'home' %}">HackerNews🔖</a>
            </div>
        </div>
        
        <div class="nav-text">
            <div class="log-in">
                {% if user.is_authenticated %}
                    <a href="{% url 'create' %}" class="button">Create</a>
                    <a href="{% url 'profile' %}" class="button-transparent">Profile</a>
                    <a href="{% url 'logout' %}" class="button-red">logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="button-transparent">Log in</a>
                    <a href="{% url 'signup' %}" class="button">Sign Up</a>
                {% endif %} 
            </div>
        </div>

        <div class="nav-bugger">
            <img src="{% static 'bar.png'%}"/>
        </div>

    </nav>
</div>

