{% load static %}

<div class="nav-wrapper">
    <nav class="max-width">
        <div class="logo-wrapper">
            <div class="logo">
                HackerNews🔖
            </div>
        </div>
        <div class="nav-text">
            <form>
                <input type="search" placeholder="search" name="search"/>
            </form>
            
            <div class="log-in">
                <a href="#" class="button-transparent">Log In</a>
                <a href="#" class="button">Sign Up</a>
            </div>
        </div>

        <div class="nav-bugger">
            <img src="assets/bugger.svg" alt="">
        </div>

    </nav>
</div>