{% extends "news/base.html" %}

{% block content %}

<div class="container">

    <div class="card-wrapper">
        <div class="profile-card">
            <small class="grey-color">First Name</small>
            <h2>{{first_name}}</h2>
            <hr>
            <small class="grey-color">Last Name</small>
            <h2>{{last_name}}</h2>
            <hr>
            <small class="grey-color">Email</small>
            <h2>{{email}}</h2>
            <hr>
            <small class="grey-color">Username</small>
            <h2>{{username}}</h2>
            <hr>
            <small class="grey-color">No. of posts</small>
            <h2>{{number_of_posts}}</h2>
        </div>
    </div>
</div> 

{% endblock content %}