{% extends "news/base.html" %}

{% block content %}

<div class="container">

    <div class="form-wrapper">
        <form method="POST" action="{% url 'login'%}">
        {% csrf_token %}
        
        {% if error %}
        <div class="error">
            {{error}}
        </div>
        {% endif %}
            <h2>Log in</h2>
            <div class="form-input">
                <label> Username</label>
                <input name="username" placeholder="johndoe" type="text" required/>
            </div>
            <div class="form-input">
                <label> Password</label>
                <input name="password" placeholder="******" type="password"  required/>
            </div>
            <button class="button-white">Log in</button>

            <div class="forgot-pwd"><a href="{% url 'forgot_password' %}">Forgot Password</a></div>
        </form>
    </div>
</div>

{% endblock content %}