{% extends "news/base.html" %}

{% block content %}

<div class="container">

    <div class="form-wrapper">
        <form>
            <h2>Log in</h2>
            <div class="form-input">
                <label> Username</label>
                <input name="username" placeholder="johndoe" type="text" />
            </div>
            <div class="form-input">
                <label> Password</label>
                <input name="password" placeholder="******" type="password" />
            </div>
            <button class="button-white">Log in</button>

            <div class="forgot-pwd"><a href="#">Forgot Password</a></div>
        </form>
    </div>
</div>

{% endblock content %}