{% extends "news/base.html" %}

{% block content %}

<div class="container">

    <div class="form-wrapper">
        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            {% if error %}
            <div class="error">
                {{error}}
            </div>
            {% endif %}
            <h2>Sign up</h2>
            
            <div class="form-input">
                <label> First Name</label>
                <input name="first_name" placeholder="John" type="text" required />
            </div>
            
            <div class="form-input">
                <label> Last name</label>
                <input name="last_name" placeholder="Doe" type="text" required />
            </div>
            
            <div class="form-input">
                <label> Username</label>
                <input name="username" placeholder="johndoe" type="text" required />
            </div>
            <div class="form-input">
                <label> Email</label>
                <input name="email" placeholder="johndoe@email.com" type="email" required />
            </div>
            <div class="form-input">
                <label> Password</label>
                <input name="password" placeholder="******" type="password" required />
            </div>
            <div class="form-input">
                <label>Confirm Password</label>
                <input name="confirm_password" placeholder="******" type="password" required />
            </div>
            <button class="button-white">Sign up</button>

            <div class="forgot-pwd">Already have an account? &nbsp; <a href="{% url 'login' %}">Log in</a></div>
        </form>
    </div>
</div> 

{% endblock content %}